@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 14px/1.5 "Open Sans";
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 32px;
    text-align: center;
    margin: 60px 0;
    text-transform: uppercase;

}

h4 {
    font-size: 16px;
    text-align: center;
}

ul {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-evenly;
    margin-bottom: 30px;
}

li {
    width: 180px;
    height: 40px;
    border: 1px solid black;
    border-radius: 10px;
    align-content: center;
    text-align: center;
    cursor: pointer;
}

article {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 0;
}

form {
    background-color: #F6F7F8;
}

select {
    width: 200px;
    height: 20px;
    margin-left: -200px;
    font-weight: bold;
}

button {
    width: 590px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #05A2D3;
    box-shadow: 1px 22px 32px 3px rgba(0, 0, 0, 0.25);
    margin-top: 30px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.left {
    background-color: #86D862;
}

.right {
    background-color: #E0E0DF;
}

input {
    font-size: 14px;
}

.screen {
    display: flex;
    flex-direction: row;
    width: 1350px;
    height: 700px;
    border-radius: 30px;
    box-shadow: 1px 15px 32px 10px rgba(0, 0, 0, 0.25);
}

.picture,
.form,
form,
img {
    width: 675px;
    height: 700px;
}

.picture,
img {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.form,
form {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.form {
    display: flex;
    flex-direction: column;
}

#age {
    width: 170px;
    height: 20px;
    margin-left: -320px;
}

#weight {
    width: 540px;
    height: 30px;
    margin-left: -70px;
}

#height-in-feet,
#height-in-inches {
    width: 270px;
    height: 20px;
}

#height-in-feet {
    margin-left: 30px;
}

#height-in-inches {
    margin-right: 50px;
}