.flex-container {
    max-width: 330px;
    border: 3px solid blue;
    display: flex;
    padding: 1em;
}

.flex-item {
    border: 2px solid black;
    padding: 1em;
    background-color: #EEEEEE;
}

.flex-wrap-nowrap {
    flex-wrap: nowrap;
}

.flex-wrap-wrap {
    flex-wrap: wrap;
}

.flex-wrap-wrap-reverse {
    flex-wrap: wrap-reverse;
}