@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css);

html {
    font: 14px/1.5 "Courgette";
}

body, section, article {
    font: inherit;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 2em;
    background-color: #F5F5F5;
}

h1 {
    font-size: 48px;
    font-weight: normal;
}

h2 {
    display: flex;
    font-size: 24px;
    color: #CB2027;
    margin-top: -50px;
    margin-left: 200px;
}

h3 {
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
    border-bottom: 1px solid #CB2027;
    padding-bottom: 5px;
    margin: 15px 15px 0 15px;
}

article {
    display: flex;
    flex-direction: column;
    width: 340px;
    height: 420px;
    background-color: white;
    margin-right: 30px;
    border-radius: 30px;
}

img {
    width: 340px;
    height: 200px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

p {
    font-size: 16px;
    text-align: center;
    padding: 0 25px;
}

a {
    text-decoration: none;
    color: black;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 20px;
}

i {
    margin-left: 10px;
    color: #CB2027;
}

.top-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bot-elements {
    display: flex;
    flex-direction: row;
}

.left-one {
    padding-top: 40px;
}

