* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 12px/1.5 "Helvetica", sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
    min-height: 100vh;
}

img {
    display: block;
    width: 100%;
    height: auto;
}

section {
    display: flex;
    max-width: 840px;
    margin: 0 auto;
    border: 4px solid #000000;
    border-radius: 10px;
    padding: 26px;
    background-color: #1881B6;
    gap: 16px;
}

section .content {
    flex: 1 1 auto;
}

section .media {
    flex: 0 0 290px;
}

section header p {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 36px;
    font-size: 16px;
}

section header h2 {
    color: #FEFFFF;
    line-height: 1;
    font-size: 30px;
    font-weight: normal;
    padding-bottom: 22px;
}

section article p {
    line-height: 2;
    padding-bottom: 22px;
    text-indent: 36px;
    padding-right: 24px;
}

section .buttons {
    display: flex;
    justify-content: space-evenly;
}

section .button {
    display: block;
    padding: 5px 15px;
    border: 2px solid #000000;
    border-radius: 5px;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

section .button.left {
    background-color: #B6416D;
}
