*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    gap: 1em;
}

body > * {
    background-color: lightblue;
    padding: 1em;
    border-radius: 0.3em;
}

header, footer {
    flex: 1 1 100%;
}

main {
    flex: 1 1 25%;
}

main ul li {
    list-style: none;
}

main ul li a{
    text-decoration: none;
}

aside {
    flex: 1 1 70%;
}

aside ul{
    padding-left: 2em;
}

@media (max-width: 500px) {
    body {
        flex-direction: column;
    }
}