body {
    border: 1px solid black;
    padding-left: 20px;
}

p {
    color: #00008B;
}

span {
    color: #FF0000;
}

li {
    list-style-type: circle;
}

.sibling {
    font-weight: bold;
}

.follower {
    background-color: #D3D3D3;
}