html {
    font-family: "Helvetica", sans-serif;
    line-height: 1.5;
}

section {
    display: flex;
    justify-content: space-between;
    max-width: 70vw;
    margin: 2em auto;
    gap: 2em;
}

h2 {
    font-family: "Georgia", serif;
    line-height: 1.2;
}
