body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #EEEEEE;
    padding: 2em;
}

div {
    width: 100%;
    height: auto;
    margin: 2em;
    border: 1px solid grey;
    border-radius: 0.5em;
    overflow: hidden;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.1);
    position: relative;
}

table {
    width: 100%;
    height: auto;
    background-color: white;
    border-collapse: collapse;
}

table th,
table td {
    border-top: 1px solid grey;
    text-align: left;
}

table th,
table td {
    padding: 0.5em 1em;
}

table thead th,
table thead td {
    background: lightgrey;
    color: black;
}

.top-table::before{
    content: attr(data-title);
    display: block;
    background-color: white;
    padding: 1em;
}

@media (max-width: 600px) {
    table, tbody, tr, td, th {
        display: block;
    }

    thead {
        display: none;
    }

    tbody tr {
        border: 1px solid black;
    }

    tbody td {
        display: flex;
    }

    tbody td:before {
        display: inline-block;
        content: attr(data-title);
        font-weight: bold;
        padding-right: 1em;
        flex: 1 1 80px;
    }
}