.flex-container {
    width: 380px;
    height: 200px;
    border: 3px solid blue;
    display: flex;
    padding: 1em;
    align-items: flex-start;
}

.flex-item {
    border: 2px solid black;
    padding: 1em;
    background-color: #EEEEEE;
}

.align-self-flex-start .flex-item:nth-child(2) {
    align-self: flex-start;
}

.align-self-center .flex-item:nth-child(2) {
    align-self: center;
}

.align-self-flex-end .flex-item:nth-child(2) {
    align-self: flex-end;
}

.align-self-baseline .flex-item:nth-child(2) {
    align-self: baseline;
}
