@media (max-width: 600px) {

    header nav {
        display: flex;
        flex-direction: column;
        font-size: 15px;
    }

    .header-title {
        padding: 0;
    }

    .our-dogs ul li img {
        width: 200px;
        height: 200px;
    }

    .our-dogs ul li {
        margin-bottom: 0.5em;
    }

    .helpNeed ul {
        display: flex;
        flex-direction: column;
    }
}