* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 16px/1.5 "Helvetica", sans-serif;
}

body {
    margin: 1em;
}

p, ul, ol {
    padding-bottom: 1.5rem;
}

ul, ol {
    padding-left: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-family: "Georgia", serif;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid rgb(221,221,221);
}

th, td {
    padding: 0.5em 0.7em;
}

table thead th {
    background: #DDDDDD;
}

table tbody tr:nth-child(odd) td {
    background: #EEEEEE;
}

blockquote{
    padding-left: 1.5em;
    border-left: 4px solid #CCCCCC;
    margin-bottom: 1.5em;
    margin-left: 2.5em;
    font-style: italic;
}

blockquote p:last-child{
    padding-bottom: 0;
}

blockquote p.author{
    text-align: right;
}