* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #EEEEEE;
}

h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1.6em;
    opacity: 0.7;
}

section {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    background-color: white;
    padding: 2em;
    gap: 2em;
}

article {
    align-items: center;
    align-content: center;
}

span {
    padding: 80px 120px;
    background-color: #EEEEEE;
    border: 1px solid #EEEEEE;
    border-radius: 0.5em;
}

p {
    margin-bottom: 1em;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

button {
    padding: 0.5em 1em;
    margin-right: 2em;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
}

.left {
    background-color: #663399;
    color: white;
}