@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap');
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font: 18px/1.2 "Inter";

}

body, section, article {
    font: inherit;
}

.image1 {
    width: 200px;
    height: 200px;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 50%;
}

.image2 {
    width: 200px;
    height: 200px;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 50%;
}

.image3 {
    width: 100px;
    height: 100px;
    object-fit: cover;
    flex-shrink: 0;
    border-radius: 50%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
    min-height: 100vh;
    background-size: cover;
    background-image: url("images/background.jpg")
}

.background {
    display: flex;
}

article {
    background: white;
    gap: 90px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.left {
    display: flex;
    width: 850px;
    height: 320px;
    margin-bottom: 40px;
    padding-right: 60px;
    padding-left: 60px;
    align-items: center;
    justify-content: space-between;
}

.right {
    display: flex;
    flex-direction: column;
    width: 420px;
    height: 680px;
    margin-left: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

h1 {
    font-size: 32px;
    padding-top: 20px;
}

.role {
    font-size: 16px;
}

.inside-right-bottom {
    display: flex;
    flex-direction: row;
    border-top: 1px solid rgba(110, 106, 125, 0.25);
    align-items: center;
    padding-top: 10px;

}

.bottom-text {
    display: flex;
    flex-direction: column;
    margin-top: -10px;
    margin-left: 10px;
}

i {
    padding-bottom: 20px;
    font-size: 80px;
}

.inside-right > i {
    padding-bottom: 50px;
}

p {
    color: #6E6A7D;
}

.right i {
    padding-top: 40px;
    font-size: 120px;
}


.right > section > p {
    padding-bottom: 50px;
}