* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(238, 238, 238);
    height: 100vh;
    font-family: "Helvetica", sans-serif ;
}

header, main, footer {
    padding: 1.5em 2em;
    border: 1px solid black;
}

header h1 {
    text-transform: uppercase;
}

main {
    flex: 1 1 auto;
}

main h2 {
    margin-bottom: 0.5em;
}

main p {
    margin-bottom: 2em;
}

footer {
    color: rgb(255, 255, 255);
    background-color: rgb(102, 102, 102);
}