div {
    border: 5px solid #333333;
    margin-bottom: 20px;
    width: 300px;
    padding: 20px;
    background-color: #EEEEEE;
}

.content {
    box-sizing: content-box;
}

.border {
    box-sizing: border-box;
}